langchain==0.0.267
streamlit==1.25.0
transformers==4.31.0
torch==2.5.0  # A compatible version of torch
einops==0.6.1
bitsandbytes==0.41.1
accelerate==0.21.0
pdfminer.six
bs4
sentence-transformers
duckdb==0.7.1
chromadb==0.3.26
beautifulsoup4==4.12.2
sentencepiece==0.1.99
six==1.16.0
requests==2.31.0
uvicorn==0.18.3
torchvision==0.17.2  # Update torchvision version
streamlit-chat
langchain-community  # Added for the missing module
